apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: talana-dev

resources:
  - ../../base
  - namespace.yaml

patches:
  - target:
      kind: Rollout
      name: talana-backend
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 2
      - op: replace
        path: /spec/template/spec/containers/0/image
        value: us-east1-docker.pkg.dev/talana-sre-challenge-jesben/talana-repo/talana-backend:5d36e8f
      - op: replace
        path: /spec/template/spec/containers/0/resources
        value:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            cpu: 300m
            memory: 384Mi

labels:
  - pairs:
      environment: dev
    includeSelectors: false
