apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: talana-dev

resources:
  - ../../base
  - namespace.yaml

images:
  - name: gcr.io/talana-sre-challenge-jesben/talana-backend
    newName: us-east1-docker.pkg.dev/talana-sre-challenge-jesben/talana-repo/talana-backend
    newTag: c1b3690

patches:
  - path: patch-replicas.yaml
  - path: patch-resources.yaml

commonLabels:
  environment: dev
