apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: talana-dev

resources:
  - ../../base
  - namespace.yaml
  - secrets.yaml

images:
  - name: talana-backend
    newName: us-east1-docker.pkg.dev/talana-sre-challenge-jesben/talana-repo/talana-backend
    newTag: latest

patches:
  - path: patch-replicas.yaml
  - path: patch-env.yaml

commonLabels:
  environment: dev
