apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: talana-dev

resources:
  - ../../base
  - namespace.yaml

patches:
  - path: patch-replicas.yaml
  - path: patch-resources.yaml
  - path: patch-image.yaml

labels:
  - pairs:
      environment: dev
    includeSelectors: false
