apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: talana-backend
spec:
  template:
    spec:
      containers:
        - name: talana-backend
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 300m
              memory: 384Mi
