apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: talana-infra
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default

  source:
    repoURL: https://github.com/jesben/talana-sre-challenge.git
    targetRevision: main
    path: k8s/infra

  destination:
    server: https://kubernetes.default.svc
    namespace: default

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
