apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kong
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default

  source:
    repoURL: https://charts.konghq.com
    chart: kong
    targetRevision: 3.0.1
    helm:
      values: |
        env:
          database: "off"
        ingressController:
          enabled: true
          installCRDs: false
          env:
            feature_gates: GatewayAlpha=true
        proxy:
          enabled: true
          type: LoadBalancer
          http:
            enabled: true
            containerPort: 8000
            servicePort: 80
          tls:
            enabled: false
        admin:
          enabled: true
          type: ClusterIP
          http:
            enabled: true
        resources:
          requests:
            cpu: 50m
            memory: 128Mi
          limits:
            cpu: 200m
            memory: 256Mi
        replicaCount: 1

  destination:
    server: https://kubernetes.default.svc
    namespace: kong

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
