apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: talana-backend
spec:
  parentRefs:
    - name: kong-gateway
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /
      backendRefs:
        - name: talana-backend-stable
          port: 80
          weight: 100
        - name: talana-backend-canary
          port: 80
          weight: 0
