apiVersion: configuration.konghq.com/v1
kind: KongPlugin
metadata:
  name: rate-limit-backend
plugin: rate-limiting
config:
  minute: 100
  hour: 1000
  policy: local
  fault_tolerant: true
  hide_client_headers: false
---
apiVersion: configuration.konghq.com/v1
kind: KongPlugin
metadata:
  name: cors-backend
plugin: cors
config:
  origins:
    - "*"
  methods:
    - GET
    - POST
    - PUT
    - DELETE
    - OPTIONS
  headers:
    - Accept
    - Authorization
    - Content-Type
  exposed_headers:
    - X-RateLimit-Limit-Minute
    - X-RateLimit-Remaining-Minute
  credentials: false
  max_age: 3600
---
apiVersion: configuration.konghq.com/v1
kind: KongPlugin
metadata:
  name: request-size-limit
plugin: request-size-limiting
config:
  allowed_payload_size: 10
  size_unit: megabytes
