apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: external-secrets

resources:
  - namespace.yaml
  - cluster-secret-store.yaml

helmCharts:
  - name: external-secrets
    repo: https://charts.external-secrets.io
    version: 0.9.13
    releaseName: external-secrets
    namespace: external-secrets
    valuesInline:
      installCRDs: true
      serviceAccount:
        create: true
        name: external-secrets-sa
        annotations:
          iam.gke.io/gcp-service-account: external-secrets-sa@talana-sre-challenge-jesben.iam.gserviceaccount.com
